.main-container {
  max-width: 100vw !important;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  padding: 50px;
  background-color: var(--primary);
  border-radius: .35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: var(--white);
  margin-bottom: 20px !important;
  font-weight: 500 !important;
}
